## .NET
[Bb]in/
[Oo]bj/
[Oo]ut/
log/
logs/
*.user
*.userosscache
*.sln.docuser

# Visual Studio / Rider
.vs/
.idea/
.rider/
*.suo
*.user
*.userosscache
*.sln.docuser
riderModule.iml
_ReSharper.Caches/

## Node / Angular
node_modules/
npm-debug.log
yarn-error.log
/dist/
/tmp/
/out-tsc/
/bazel-out/
/.angular/cache

# System Files
.DS_Store
Thumbs.db
/Backend/datasets.db
/Backend/datasets.db-shm
/Backend/datasets.db-wal
/Frontend/dist/intekrator-frontend/*
